.item {
    border: 3px solid red;
    height: 100px;
   /* width: 100px;*/
    display: flex;
}

.containers {
    border: 3px solid red;
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    grid-gap: 1rem;
    padding: 1rem;
}